/* Estilos para centrar el contenido horizontalmente */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    
}

/* Estilos para el contenedor del ícono */
.icon-container {
    text-align: center;
    margin-bottom: 10px;
}

.icon-container img {
    width: 50px; /* Ajusta el tamaño del ícono según tus necesidades */
    height: 50px;
    
}

/* Estilos adicionales para el login-container */
.login-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 70px;
    width: 250px;
    text-align: 100px
    
    
    

}

h1 {
    font-size: 24px;
    text-align: center;
}

/* Estilos para centrar los campos de matrícula y contraseña */
.form-container {
    text-align: center;
    margin-top: 10px;
    
}

.input-container {
    text-align: center
    
    ;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}

a {
    text-decoration: none;
    color: #007BFF;
    display: block;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}
/* Estilos para centrar el contenido horizontalmente y verticalmente */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Estilos para el contenedor del ícono */
.icon-container {
    text-align: center;
    margin-bottom: 10px;
}

.icon-container img {
    width: 50px; /* Ajusta el tamaño del ícono según tus necesidades */
    height: 50px;
}

/* Estilos adicionales para el login-container */
.login-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 70px;
    width: 250px;
    text-align: center;
}

h1 {
    font-size: 24px;
    text-align: center;
}

/* Estilos para centrar los campos de matrícula y contraseña */
.form-container {
    text-align: center;
    margin-top: 10px;
}

.input-container {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
